---
import Layout from "../layouts/Layout.astro"
import Navbar from '../components/Navbar.jsx';
import Footer from '../components/Footer.jsx';
--- 
<Layout>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="min-h-screen flex flex-col relative">
        <Navbar client:visible/>
        <div class="md:mx-32 md:mt-4 md:mb-12">
            <h1 id="title" class="text-3xl md:text-4xl font-bold leading-tight md:pt-12">
				Cookie Policy
			</h1>
            <p class="text-xl font-bold uppercase mb-5 title">1. Background</p>
            <p class="mb-5">
            DesAcc operates in accordance with the GDPR and Data Protection Act 2018
                        and Personal Information Protection and Electronic Documents Act . The
                        lawful and proper treatment of personal information by DesAcc is extremely
                        important to the success of our business and in order to maintain the
                        confidence of our clients and personnel. DesAcc ensures that it processes
                        personal information lawfully and correctly.
            </p>
            <p class="mb-5">
            This Cookie Policy explains how we DesAcc use cookies and similar tracking
                        technologies on our website. By accessing or using our website, you agree
                        to the use of cookies as described in this policy. Please read this policy
                        carefully to understand how we collect, use, and disclose your
                        information.
            </p>
            <p class="text-xl font-bold uppercase mb-5 title">2. What are Cookies?</p>
            <p class="mb-5">
            Cookies are small text files that are placed on your computer or mobile
                        device when you visit a website. They are widely used to make websites
                        work more efficiently and provide a better user experience. Cookies enable
                        websites to remember your actions and preferences (such as login
                        information, language, font size, and other display preferences) over a
                        period of time, so you don't have to keep re-entering them whenever you
                        come back to the website or browse from one page to another.
            </p>
            <p class="text-xl font-bold uppercase mb-5 title">3. How do we use Cookies?</p>
            <p class="mb-5">
            We only use the following Performance and Analytics Cookies:, these
                        cookies help us understand how visitors interact with our website by
                        collecting and reporting information anonymously. They allow us to analyze
                        website traffic, identify popular pages, and improve the overall
                        performance of our website and assist with compliancy to data privacy law.
            </p>
            <table class="table-fixed text-left mb-5"> <thead class="font-bold uppercase"> <tr> <th class="border p-3">Cookie</th> <th class="border p-3">Provider</th> <th class="border p-3">Function</th> </tr> </thead> <tbody> <tr> <td class="border p-3">osano_consentmanager</td> <td class="border p-3">Osano</td> <td class="border p-3">Stores the user's current consent status.</td> </tr> <tr> <td class="border p-3">osano_consentmanager_expdate</td> <td class="border p-3">Osano</td> <td class="border p-3">Stores the expiration of the user's captured consent.</td> </tr> <tr> <td class="border p-3">osano_consentmanager_uuid</td> <td class="border p-3">Osano</td> <td class="border p-3">Stores the user's unique consent identifier.</td> </tr> <tr> <td class="border p-3">_gaBHMNEW91TZ</td> <td class="border p-3">Google</td> <td class="border p-3">Used for Google Analytics.</td> </tr> <tr> <td class="border p-3">_ga</td> <td class="border p-3">Google</td> <td class="border p-3">Used for Google Analytics.</td> </tr> </tbody> </table>
            <p class="text-xl font-bold uppercase mb-5 title">4. Consent to use Cookies</p>
            <p class="mb-5">
            We will ask for your permission (Consent) to place cookies or other
                        similar technologies on your device, except where they are essential for
                        us to provide you with a service that you have requested.
            </p>
            <p class="mb-5">
            You can withdraw any consent to the use of cookies by deleting them from
                        you browser.
            </p>
            <p class="text-xl font-bold uppercase mb-5 title">5. Policy Updates</p>
            <p class="mb-5">
            We may update this Cookie Policy from time to time to reflect changes in
                        our practices or for other operational, legal, or regulatory reasons. We
                        encourage you to review this policy periodically to stay informed about
                        how we use cookies.
            </p>
            <p class="text-xl font-bold uppercase mb-5 title">
            6. Contacting Us and Exercising Your Legal Rights
            </p>
            <p class="mb-5">
            Should you have any issues or need to contact us for any other reason in
                        relation to this policy, you can do so via telephone: +44 (0)1566 701 203
                        or via email: DPO@DesAcc.com
            </p>
            <p class="text-xl font-bold uppercase mb-5 title">Definitions</p>
            <p class="mb-5">Identify and define frequently used terms or acronyms.</p>
            <table class="table-fixed text-left mb-5"> <thead class="font-bold uppercase"> <tr> <th class="border p-3">Term</th> <th class="border p-3">Definition</th> </tr> </thead> <tbody> <tr> <td class="border p-3">DPO</td> <td class="border p-3">Data Protection Officer.</td> </tr> <tr> <td class="border p-3">GDPR</td> <td class="border p-3">General Data Protection Regulation.</td> </tr> </tbody> </table>
        </div>
        <Footer />
    </div>

</Layout>

<style>
	.title {
		margin-top: 2rem;
	}
	
</style>