---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.jsx';
import VendorCard from '../components/VendorCard.astro';
import Footer from '../components/Footer.jsx';
import FooterTop from '../components/FooterTop.jsx';
import ScrollButton from '../components/ScrollButton.jsx';
---



<Layout>
	<head>
		<link href="https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap" rel="stylesheet">
	</head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<div class="min-h-screen flex flex-col relative">
		<Navbar client:visible/>
		<div id="home" class="w-full md:py-12 title-bg-image shadow-md"> <!-- Background div -->

			<div class="flex flex-col md:flex-row mx-auto md:mx-20"> <!-- Content div -->

			  <!-- Text Column -->
			  <div class="pl-10 py-16 w-[90vw] flex flex-col">
				<div>
				  <h1 id="title" class="text-4xl md:text-5xl font-bold leading-tight">
					Your Health Data. <span class="text-[#e36909]">Unlocked.</span>
				  </h1>
		  
				  <p class="text-lg md:pt-2 md:text-[1.75vw] mb-2 text-gray-400 rotating-text" id="rotatingText"></p>
				  <p class="pr-12 md:pr-0 text-sm md:text-[1.5vw] md:leading-none py-14 md:w-[30vw]">
					Delivering continuity across health data environments in an ever increasing work of data complexity.
				  </p>
				</div>
				<div>
				  <ScrollButton client:visible />
				</div>
			  </div>


			  <!-- Image Column -->
			  <div id="title_image" class=" md:mr-20 md:h-auto pt-12 flex items-end justify-left flex-col items-left">
				<img src="/graphic2.png" class="md:w-[60rem] mb-10" />
			  </div>

			</div> <!-- Content div -->

		  </div> <!-- Background div -->
		  
		
		<div id="clients" class="bs bg-opacity-100 z-20 relative shadow-md">
			<h1 class="mx-20 text-center font-bold text-xs md:text-2xl text-[#194b92] pt-8 h-14 flex items-center justify-center">
				Trusted by healthcare systems and vendors around the world for over 30 years.
			  </h1>
			  
			<div id="vendor_logos" class="grid grid-cols-2 md:gap-4 justify-center overflow-x-auto md:flex md:justify-center" style="justify-items: center;">
				<img src="/vendor_logos/Ochsner Health System small.png" alt="Ochsner Health Logo" class="h-[6rem] md:h-[10rem] md:mx-[1rem]" />
				<img src="/vendor_logos/Government of Western Australia small.png" alt="Western Australia Health Logo" class="h-[6rem] md:h-[10rem] md:mx-[1rem]" />
				<img src="/vendor_logos/Standford Health Care small.png" alt="Standford Health Care Logo" class="h-[6rem] md:h-[10rem] md:mx-[1rem]" />
				<img src="/vendor_logos/Lameris_logo.png" alt="Lameris Logo" class="h-[6rem] md:h-[8rem] py-6 md:mx-[1rem] md:my-[1.5rem]" />
			</div>
		</div>

		<div id="vendorSection" class="flex flex-col md:flex-row py-12 items-stretch h-full vendor-bg-image shadow-md">
			<!-- Button column -->
			<div id="toggleButton" class="flex items-center pl-16">
				<button  class="p-2 bg-gray-400 mr-4 text-white rounded">
					←
				</button>
			</div>

			<!-- Vendor card column -->
			<div class="flex flex-col md:w-[50em] lg:w-[90em] items-center">
				<div id="vendorFrame" class="flex flex-col md:flex-row flex-grow">
					<div id="vendorGroup1" class="grid grid-cols-2 gap-1 md:gap-4"> 
						<VendorCard 
							name="Ochsner Health"
							imageSrc="/vendor_logos/Ochsner Health System.png" 
							description={["Radiology/Cardiology", "20+ PACS Engagement"]}
							location="North America"
						/>
						<VendorCard 
							name="Western Australia Health" 
							imageSrc="/vendor_logos/Government of Western Australia.png" 
							description={["PACS/VNA/RIS", "70M+ Reports"]}
							location="APAC"
						/>
						<VendorCard 
							name="Healthcare Provider" 
							imageSrc="/vendor_logos/rhcp.png" 
							description={["100M+ Studies, 200+ Regional Hospitals", "PACS/VNA"]}
							location="North America"
						/>
						<VendorCard 
							name="Stanford Healthcare" 
							imageSrc="/vendor_logos/Standford Health Care.png" 
							description={["APLIS/PACS", "Pathology"]}
							location="North America"
						/>
					</div>
					<div id="vendorGroup2" class="grid grid-cols-2 gap-1 md:gap-4 hidden"> 
						<VendorCard 
							name="Global Technology Vendor" 
							imageSrc="/vendor_logos/world2.png" 
							description={["DICOM Platform Software Layer", "2000+ Cancer Centers"]}
							location="Worldwide"
						/>
						<VendorCard 
							name="Lameris" 
							imageSrc="/vendor_logos/Lameris_logo.png" 
							description={["University Research Hospital", "Ophthalmology"]}
							location="Europe"
						/>
						<VendorCard 
							name="Partner Engagement" 
							imageSrc="/vendor_logos/doc.png" 
							description={["Delivering IHE Standards", "Document delivery via XDS"]}
							location="Europe"
						/>
						<VendorCard 
							name="Radiology Service Vendor" 
							imageSrc="/vendor_logos/rad svc.png" 
							description={["PACS", "Cloud Centralization"]}
							location="North America"
						/>
					</div>
				</div>
			</div>

			<!-- Text column -->
			<div class="flex items-center justify-center  px-12">
				<p class="pt-12 text-center text-sm md:text-3xl md:mx-4 text-left">
					We facilitate and deliver data-driven software and solutions for health service vendors and healthcare enterprises at petabyte scale, globally.
				</p>
			</div>
		</div>

		<!-- Services Div -->
		<div id="services" class="bg-opacity-100 z-20 relative pt-8 pb-16 shadow-md h-full">
			<h1 class="text-xl md:text-5xl px-12 md:px-32 font-bold pt-8 pb-4 md:pb-12 text-center text-[#194b92]">
				Designing Access to Health Data Discovery and Delivery
			</h1>
			<div class="flex flex-col md:flex-row md:mx-32 h-full" style="align-items: stretch;">
				<!-- Quote Section -->
				<div id="hdd_col1" class="flex-1 md:w-1/4 flex flex-col justify-between">
					<p class="text-center md:text-left text-sm md:text-[1.65rem] italic md:leading-none px-12 md:px-0 md:pr-20 font-customSerif font-light">
						"We are surrounded by locked-in silos of health data. Whether that lock-in is due to vendors, complexity, skills shortages, or just the sheer amount of data being generated doesn't matter. Our goal at DesAcc is to build and deliver solutions for addressing data lock-in, enabling access to health data wherever and however it is stored."
					</p>
						
						
					<div id="credits" class="text-center md:text-left mt-auto pt-4 md:pt-0">
						<h1 class="text-sm md:text-3xl">Hugh Lyshkow</h1>
						<p class="text-sm md:text-xl font-bold">CEO, Co-Founder</p>
					</div>
				</div>
			
				<!-- Services Section -->
				<div class="mt-8 md:mt-0 flex-1 px-8 md:px-0 md:mr-16 leading-none flex flex-col justify-between h-full">
					<h3 class="text-center md:text-left text-xl md:text-3xl pb-4 font-bold text-[#e3690a]">Services for Unlocking</h3>
					<div id="services" class="text-justify text-[0.6rem] md:text-lg flex-grow">
						<p class="services_title">Radiology Silos</p>
						<p class="services_body">PACS and VNA migrations (rapid media based, cloud and DICOM). Tech refreshes. RIS migrations. Tape and HSM migrations.</p>
						<p class="services_title">Pathology Silos</p>
						<p class="services_body">Proprietary to Whole Slide Imaging (WSI) DICOM. APLIS migrations. Gross anatomy and non-WSI to DICOM.</p>
						<p class="services_title">Cardiology Silos</p>
						<p class="services_body">CPACS and CVIS migrations. ECG to DICOM, including GE MUSE. Waveform to DICOM Encapsulated PDF (DEP).</p>
						<p class="services_title">Document Silos</p>
						<p class="services_body">File based migrations. Tivoli Storage Manager (TSM), DiskXtender and SAMfs. IHE Cross Enterprise Document Sharing (XDS).</p>
						<p class="services_title">Report Silos</p>
						<p class="services_body">Radiology, cardiology and pathology reports (text, rtf, word, pdf, html) to DICOM, HL7 and XDS.</p>
						<p class="services_title">Legacy Silos</p>
						<p class="services_body_last">Decommission legacy silos. Free up rack space used by legacy PACS and other storage systems. LTO tape extraction.</p>
					</div>
				</div>
			
				<!-- Software Section -->
				<div class="mt-8 md:mt-0 flex-1 px-8 md:px-0 leading-none flex flex-col justify-between h-full">
					<h3 class="text-center md:text-left text-xl md:text-3xl pb-4 font-bold text-[#e3690a]">Software for Delivering</h3>
					<div id="software" class="text-justify text-[0.6rem] md:text-lg flex-grow">
						<p class="services_title">Data Discovery</p>
						<p class="services_body">Analyze silos at the byte level. Understand what data you have and where, for RFP's, migrations or decommissioning legacy systems.</p>
						<p class="services_title">Data Quality</p>
						<p class="services_body">Big Data is messy, understanding missing values, duplicates, and clashes between silos is the first step towards better data.</p>
						<p class="services_title">Data for AI</p>
						<p class="services_body">Better data means better AI models. Understand data quality, deliver data without impacting production environments.</p>
						<p class="services_title">Data Delivery</p>
						<p class="services_body">Get your data where it needs to go, rapidly. Migration from legacy systems to new environments, to and from cloud-based storage.</p>
						<p class="services_title">Data for Cloud</p>
						<p class="services_body">Enterprise engagements need the ability to move from on-prem to cloud and hybrid environments, efficiently and rapidly.</p>
						<p class="services_title">Data Lifecycle Management</p>
						<p class="services_body_last">Understand how much of your data sits outside of retention rules. Filter unneeded data and tier data according to its age.</p>
					</div>
				</div>
			</div>
		</div>
		<!-- Services Div -->
		  
	</div>
	<FooterTop />
	<Footer />
</Layout>

<script>
	const texts = [
		"Enabling cloud deployment.",
		"Empowering healthcare innovation.",
		"Transforming data into insights.",
		"Connecting health systems globally."
	];

	let index = 0;
	const rotatingTextElement = document.getElementById('rotatingText');

	function changeText() {
		if (rotatingTextElement) {
			rotatingTextElement.classList.remove('visible'); 
			setTimeout(() => {
				rotatingTextElement.textContent = texts[index];
				rotatingTextElement.classList.add('visible'); 
			}, 500); 
		}
		index = (index + 1) % texts.length;
	}

	setInterval(changeText, 3000);
	changeText(); 

	const vendorGroup1 = document.getElementById('vendorGroup1');
	const vendorGroup2 = document.getElementById('vendorGroup2');

	let currentGroup = 1;

	function toggleVendorGroups() {
		if (vendorGroup1 && vendorGroup2) {
			if (currentGroup === 1) {
				vendorGroup1.classList.add('fade-out');
				setTimeout(() => {
					vendorGroup1.classList.add('hidden');
					vendorGroup1.classList.remove('fade-out');
					vendorGroup2.classList.remove('hidden');
					vendorGroup2.classList.add('fade-in');
					setTimeout(() => vendorGroup2.classList.remove('fade-in'), 500);
					currentGroup = 2;
				}, 500);
			} else {
				vendorGroup2.classList.add('fade-out');
				setTimeout(() => {
					vendorGroup2.classList.add('hidden');
					vendorGroup2.classList.remove('fade-out');
					vendorGroup1.classList.remove('hidden');
					vendorGroup1.classList.add('fade-in');
					setTimeout(() => vendorGroup1.classList.remove('fade-in'), 500);
					currentGroup = 1;
				}, 500);
			}
		} else {
			console.error('Vendor groups not found');
		}
	}

	setInterval(toggleVendorGroups, 8000);

	const toggleButton = document.getElementById('toggleButton');
	if (toggleButton) {
		toggleButton.addEventListener('click', toggleVendorGroups);
	}

</script>


<style>
	.rotating-text {
		transition: opacity 0.5s ease-in-out;
		opacity: 0; 
	}
	.rotating-text.visible {
		opacity: 1;
	}

	.fade-out {
		opacity: 1;
		animation: fadeOut 0.5s ease-in-out forwards;
	}

	@keyframes fadeOut {
		0% {
			opacity: 1;
			transform: translateX(0);
		}
		100% {
			opacity: 0;
			transform: translateX(-20px);
		}
	}

	/* Fade in animation */
	.fade-in {
		opacity: 0;
		animation: fadeIn 0.5s ease-in-out forwards;
	}

	@keyframes fadeIn {
		0% {
			opacity: 0;
			transform: translateX(20px);
		}
		100% {
			opacity: 1;
			transform: translateX(0);
		}
	}

	.hidden {
		display: none;
	}

	.title-bg-image {
		position: relative;
		background-image: url('/bg_images/title_bg.png');
		background-size: cover; /* Full screen width, height adjusts automatically */
		background-position: top center; /* Aligns the image at the top center */
		background-repeat: no-repeat; /* Prevents tiling */
	}

	.vendor-bg-image {
		position: relative;
		background-image: url('/bg_images/vendor_bg.png');
		background-size: cover; /* Full screen width, height adjusts automatically */
		background-position: top center; /* Aligns the image at the top center */
		background-repeat: no-repeat; /* Prevents tiling */
	}

	#title_image {
		display: none;
	}

	#toggleButton {
		display: none;
	}


	@media (min-width: 768px) {
		#title_image {
			display: flex;
		}
		#toggleButton {
			display: flex;
		}
	}

	.services_title {
		font-weight: bold;
		font-size: medium;
	}

	@media (max-width: 768px) {
		.services_title {
			font-size: small;
			line-height: 1;
		}
	}

	.services_body {
		font-size: small;
		margin-top: 0.25rem;
    	line-height: 1.2;
		margin-bottom: 1rem;
	}
	
	.services_body_last {
		font-size: small;
		margin-top: 0.25rem;
    	line-height: 1.2;
	}
	
</style>

