---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.jsx';
import Footer from '../components/Footer.jsx';
---


<Layout>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<div class="min-h-screen flex flex-col relative">
		<Navbar client:visible/>
		<div class="md:mx-32 md:mt-4 md:mb-12">
			<h1 id="title" class="text-3xl md:text-4xl font-bold leading-tight md:pt-12">
				Privacy Policy
			</h1>
			<p class="text-xl font-bold uppercase mb-5 title">1. BACKGROUND </p>
			<p class="text-justify">DesAcc operates in accordance with the EU General Data Protection Regulation (GDPR), Data Protection Act 2018 and Personal Information Protection and Electronic Documents Act (PIPEDA) and any other state or federal laws that maybe required during the course of its daily business.</p>
			<br/>
			<p class="text-justify">The lawful and proper treatment of personal information by DesAcc is extremely important to the success of our business and in order to maintain the confidence of our clients and personnel. DesAcc ensures that it processes personal information lawfully and correctly.</p>
			
			<br/>

			<p class="text-xl font-bold uppercase mb-5 title">2. DATA PRIVACY POLICY</p>
			<p class="text-justify">This Data Privacy Policy has been developed so that you as a visitor to our website, social media sites or as a recipient of marketing materials are informed about what Personal Data DesAcc retains, how it is processed, and how we protect it. When conducting these activities DesAcc is acting as a data Controller and is responsible for your Personal Data as such.</p>
			<br/>
			<p class="text-justify">At DesAcc EMEA Ltd, data management is our businesses. To this end, we are committed to maintaining the trust and confidence of our customers as such we do not sell, rent or trade email lists with other companies and businesses for marketing purposes.</p>
			
			<p class="text-xl font-bold uppercase mb-5 title">3. YOUR DATA, YOUR RIGHTS</p>
			<p class="text-justify">Under modern data privacy law you now have more rights than ever before - you have the legitimate right to:</p>
			
			<br/>
			<ul class="list-disc pl-5">
				<li>request any data we may hold on you.</li>
				<li>to rectify the Personal Data, we hold about you.</li>
				<li>to withdraw consent where we are relying on your consent to process Personal Data.</li>
				<li>to be erased from our database under certain circumstances (with no effect on the lawfulness of any processing prior to your request to withdraw).</li>
				<li>the conditional right to object processing.</li>
				<li>the restriction to no further processing without prior consent, and to portability of your data.</li>

			</ul>
			<br />
			<p class="text-justify">Email your request to our DPO at DPO@DesAcc.com or call our UK office: +44 (0)1566 701 203.</p>

			<p class="text-xl font-bold uppercase mb-5 title">4. HOW DO WE USE YOUR INFORMATION?</p>
			<p class="text-justify">This information will be stored within our internal systems and may be used to enable our teams to remain in contact with you during a sales engagement, recruitment cycle, or whilst fulfilling a contractual service. As stated above, this information will not be sold, rented or traded with other companies for marketing purposes.</p>
			<br/>
			<p class="text-justify">As our primary business is data management, DesAcc will also processes data on behalf of other data Controllers. We will always do this in a secure way as agreed with the data Controller for which we are contracted to perform the work. This processing is not the subject of this document.</p>
			
			<br/>
			<p class="text-justify">What personal data do we collect and process? Our social media sites do allow us to identify you as an individual where you’re accessing our sites using your personal profile, we may also receive additional Personal Data that you have chosen to make publicly available on your profile.</p>
			<br/>
			<p class="text-justify">Should we send you marketing material we may collect information about how you interact with it.</p>
			<br/>
			<p class="text-justify">DesAcc uses Personal Data to maintain the servicing of our relationship. The following data can be collected and processed when you access the website, social media, marketing materials or contact us via our website, email or via the telephone:</p>
			<br/>
			<ul class="list-disc pl-5">
				<li>Contact details (such as name, address, email address, and phone number).</li>
				<li>Financial information (such as payment card details).</li>
				<li>Demographic information (such as age, gender, and occupation).</li>
				<li>Information related to your interactions with us (such as website usage data, support and sales inquiries).</li>
				<li>Any other information you choose to provide to us voluntarily.</li>
			</ul>						
		
			<p class="text-xl font-bold uppercase mb-5 title">
			5. When do we collect your information?
			</p>
			<p class="mb-5">
			We collect your information when we have a legitimate need to do so, such
				as when you:
			</p>
			<ul class="list-disc list-inside ml-5 mb-5"> <li>Buy products and services.</li> <li>Set up an account.</li> <li>Enter supply agreements.</li> <li>Attend events at which DesAcc is participating.</li> <li>
			Make inquires, send a complaint or interact with DesAcc in some other
					matter.
			</li> <li>
			Register and/or interact with marketing material (including but not
					limited to email, updates, social media, etc.) where we discover your
					contact information and believe we have a legitimate interest to contact
					you.
			</li> </ul>
			<p class="text-xl font-bold uppercase mb-5 title">
			6. What is our legal basis for using your personal information?
			</p>
			<p class="mb-5">
			We will only use your Personal Data where we have a legal basis for doing
				so, for example:
			</p>
			<ul class="list-disc list-inside ml-5 mb-5"> <li> <strong>Consent:</strong> where you have given us clear consent for us to
					process your personal information for a specific purpose
			</li> <li> <strong>Contract:</strong> where our use of your personal information is
					necessary for a contract we have with you, or because you have asked us to
					take specific steps before entering into a contract
			</li> <li> <strong>Legal obligation:</strong> where our use of your personal information
					is necessary for us to comply with the law (not including contractual obligations)
			</li> <li> <strong>Legitimate interests:</strong> where our use of your personal information
					is necessary for our legitimate interests or the legitimate interests of
					a third party (unless there is a good reason to protect your personal information
					which overrides our legitimate interests)
			</li> </ul>
			<p class="text-xl font-bold uppercase mb-5 title">
			7. How do we use your personal data?
			</p>
			<p class="mb-5">We use Personal Data we have collected:</p>
			<ul class="list-disc list-inside ml-5 mb-5"> <li>
			To fulfil a contract, we have with you (lawful basis: performance of a
					contract)
			</li> <li>
			To deliver our products and services (lawful basis: performance of a
					contract)
			</li> <li>
			To be able to handle orders as quickly as possible (lawful basis:
					performance of a contract and necessary for our legitimate interests in
					providing prompt and timely service to our customers)
			</li> <li>
			To follow-up on inquiries and quote requests (lawful basis: because you
					have asked us to do something prior to entering a contract with us, or
					necessary for our legitimate interests in pursuing prospective
					customers)
			</li> <li>
			To service you better when you approach and interact with our employees,
					e.g. sales, customer service, technical support (lawful basis: necessary
					for our legitimate interests in providing enhanced and improved customer
					service)
			</li> <li>
			To administer customer surveys (lawful basis: necessary for our
					legitimate interests to improve our business and study how customers
					engage with us and our products and services)
			</li> <li>
			To manage our relationship with you or your business (lawful basis:
					necessary for our legitimate interests in maintaining and servicing our
					customer base)
			</li> <li>
			To develop new ways to meet our customers’ needs (lawful basis:
					necessary for our legitimate interests in growing and developing our
					business).
			</li> <li>
			To develop and carry out marketing activities on our brand, products and
					services and measure the effectiveness of these (lawful basis: consent
					or where permissible, for our legitimate interests in marketing to our
					customer base)
			</li> <li>
			To inform our recruitment process (lawful basis: necessary for our
					legitimate interests in growing and recruiting for our business)
			</li> <li>
			To administer and protect our business and this website (including
					troubleshooting, data analysis, testing, system maintenance, support,
					reporting and hosting of data) (lawful basis: necessary to comply with a
					legal obligation and necessary for our legitimate interests in improving
					our websites).
			</li> <li>
			To use data analytics to improve our website, products, marketing,
					customer relationships and experiences (lawful basis: necessary for our
					legitimate interests to define types of customers for our products and
					services, to keep our website updated and relevant, to develop our
					business and to inform our marketing strategy).
			</li> </ul>
			<p class="text-xl font-bold uppercase mb-5 title">
			8. Third parties with whom we may share your personal data.
			</p>
			<p class="mb-5">We routinely share personal information with:</p>
			<ul class="list-disc list-inside ml-5 mb-5"> <li>
			third parties we use to help deliver our products to you, e.g., payment
					service providers.
			</li> <li>
			other third parties we use to help us run our business, e.g. HubSpot our
					CRM provider, Microsoft our IT support and back up providers.
			</li> </ul>
			<p class="mb-5">
			DesAcc uses Google Analytics to collect anonymized browsing statistics and
				therefore DesAcc discloses IP-addresses to Google Analytics. Privacy terms
				for Google Analytics are accepted when visiting www.DesAcc.com and can be
				found here: <a class="underline text-da-delft-blue" href="https://www.google.com/privacy" target="blank">www.google.com/privacy</a> </p>
			<p class="mb-5">
			We only allow our service providers to handle your personal information if
				we are satisfied, they take appropriate measures to protect your personal
				information. We also impose contractual obligations on service providers
				to ensure they can only use your personal information to provide services
				to us and to you.
			</p>
			<p class="mb-5">
			We may disclose and exchange information with law enforcement agencies and
				regulatory bodies to comply with our legal and regulatory obligations.
			</p>
			<p class="mb-5">
			We may also need to share some personal information with other parties,
				such as potential purchasers of some or all of our business or during a
				re-structuring. Usually, information will be anonymised, but this may not
				always be possible. The recipient of the information will be bound by
				confidentiality obligations.
			</p>
			<p class="mb-5">
			We will not share your personal information with any other third party.
			</p>
			<p class="text-xl font-bold uppercase mb-5 title">
			9. Transferring your personal information out of the UK and EEA
			</p>
			<p class="mb-5">
			To deliver products and services to you, it is sometimes necessary for us
				to share your personal information outside the UK and/or European Economic
				Area (EEA), e.g., with our service providers located outside the UK/EEA,
				[for example IT hosting and maintenance, service providers whose servers
				are located in the US e.g.: Microsoft]
			</p>
			<p class="mb-5">
			These transfers are subject to special rules under European and UK data
				protection law.
			</p>
			<p class="mb-5">
			Non-UK/EEA countries do not have the same data protection laws as the
				United Kingdom and EEA. We will, however, ensure the transfer complies
				with data protection law and all personal information will be secure. As
				an example, we may require the third party to enter into European
				Commission approved standard contractual clauses with us.
			</p>
			<p class="mb-5">
			If you would like further information, please contact our us (see the
				contact details at the bottom of this policy).
			</p>
			<p class="text-xl font-bold uppercase mb-5 title">
			10. Transferring your personal information Inter-provincial (Canada)
			</p>
			<p class="mb-5">
			DesAcc will apply federal and provincial rules stated in PIPEDA and other
				provincial rules when transferring data that may involve inter-provincial
				or international personal information flows in the course of its
				commercial activities.
			</p>
			<p class="text-xl font-bold uppercase mb-5 title">
			11. Where is your personal data stored?
			</p>
			<p class="mb-5">
			Your data is stored securely on servers in the UK and potentially on local
				servers in the country’s where we have operations or where we use 3rd
				party services (i.e. Microsoft 365). Where 3rd parties transfer or store
				your Personal Data outside of the UK, EEA or Canada we will ensure that
				there are adequate safeguards in place for the international transfer as
				detailed above.
			</p>
			<p class="mb-5">
			Where servers are hosted by DesAcc, external access is restricted by a
				firewall and measures to prevent Cyber-attacks and all endpoints that
				attach to the DesAcc network are also individually protected with complex
				endpoint security.
			</p>
			<p class="mb-5">
			Access to the data stored is restricted to users by permissions which
				prevent unauthorized processing. The installation of appropriate
				programs/applications used to process data is restricted to only those
				that are required to view or use this data.
			</p>
			<p class="text-xl font-bold uppercase mb-5 title">
			12. How long do we store your personal data?
			</p>
			<p class="mb-5">
			We will not retain your personal information for longer than necessary for
				the purposes set out in this policy. Different retention periods apply for
				different types of personal information. If an active customer
				relationship is in place, we will store your data as long as necessary in
				order to service you. We will store all other data in line with any
				applicable legislation.
			</p>
			<p class="mb-5">
			We may need to retain Personal Data by law, or in order to fulfil the
				terms of a contract, we have with you.
			</p>
			<p class="text-xl font-bold uppercase mb-5 title">13. Data Breach</p>
			<p class="mb-5">
			If there is a suspicion of a data breach originating from DesAcc servers
				or external partners, prompt action will be taken, such as:
			</p>
			<ul class="list-disc list-inside ml-5 mb-5"> <li>Uncovering the extent of the breach</li> <li>
			Notify potentially affected individuals where required to do so by law.
			</li> <li>
			Notify relevant Data Protection Agencies where required to do so by law.
			</li> </ul>
			<p class="text-xl font-bold uppercase mb-5 title">14. Cookies</p>
			<p class="mb-5">
			A cookie is a small text file which is placed onto your device (e.g.,
				computer, smartphone or other electronic device) when you use our website.
				We use cookies on our website. These help us recognise you and your device
				and store some information about your preferences or past actions.
			</p>
			<p class="mb-5">
			We will ask for your permission (Consent) to place cookies or other
				similar technologies on your device, except where they are essential for
				us to provide you with a service that you have requested.
			</p>
			<p class="mb-5">
			If you do not want to accept any cookies, you may be able to change your
				browser settings so that cookies (including those which are essential to
				the services requested) are not accepted. If you do this, please be aware
				that you may lose some of the functionality of our website.
			</p>
			<p class="mb-5">
			For further information on cookies, our use of cookies, please see our
				Cookie Policy.
			</p>
			<p class="text-xl font-bold uppercase mb-5 title">15. Marketing</p>
			<p class="mb-5">
			We may use your personal information to send you updates (by email, text
				message, telephone or post) about our products and services, including
				exclusive offers, promotions or new products and services. We will only
				send your electronic marketing where we have your consent, or it is in our
				legitimate interests to do so. We will always treat your personal
				information with the utmost respect and never sell it to other
				organisations for marketing purposes.
			</p>
			<p class="mb-5">
			If you have given your consent to receive marketing communications, or it
				is in our legitimate interests to send them because you are a business
				customer, you always have the right to opt out of receiving further
				promotional communications by following the ‘unsubscribe’ instructions
				contained in all marketing emails. We may ask you to confirm or update
				your marketing preferences if there are changes in the law, regulation, or
				the structure of our business.
			</p>
			<p class="mb-5">
			Please note that we may also send you other communications in relation to
				your purchase of products or services or in order to respond to queries
				you have raised, such communications are service communications and are
				not a form of marketing.
			</p>
			<p class="text-xl font-bold uppercase mb-5 title">
			16. Contacting us and exercising your legal rights
			</p>
			<p class="mb-5">
			Should you have any issues with unsubscribing, or need to contact us for
				any other reason in relation to this policy, you can do so via telephone:
				+44 (0)1566 701 203 or via email: DPO@DesAcc.com.
			</p>
			<p class="mb-5">
			Should you have a complaint relating to DesAcc and a data processing
				issue, you may contact our DPO via telephone: +44 (0)1566 701203 or via
				email: DPO@DesAcc.com. In accordance with the GDPR regulations, you have
				the right to make a complaint about data protection issues at any time to
				the Information Commissioner's Office (ICO). Complaints can be made to the
				ICO at <a class="underline text-da-delft-blue" href="https://ico.org.uk/concerns" target="blank">https://ico.org.uk/concerns</a> or telephone: +44 (0) 303 1231 113.
			</p>
			<p class="mb-5">
			You can at any point request access to the Personal Data we hold and
				request for it to be updated, deleted, restricted or supplied in a
				portable format. If you wish to exercise any of these rights, please
				contact: DPO@DesAcc.com. Please be aware that once this data is deleted,
				it is not restorable.
			</p>
			<p class="text-xl font-bold uppercase mb-5 title">17. Revision of Policy</p>
			<p class="mb-5">
			Our data processing procedures are under continual review and this policy
				is revised when needed.
			</p>
			<p class="text-xl font-bold uppercase mb-5 title">18.0 Glossary</p>
			<table class="table-fixed text-left mb-5"> <thead class="font-bold uppercase"> <tr> <th class="border p-3">ACRONYM\TERM</th> <th class="border p-3">DEFINITION</th> </tr> </thead> <tbody> <tr> <td class="border p-3">Controller</td> <td class="border p-3">The data controller determines the purposes for which and the means
				by which Personal Data is processed.</td> </tr> <tr> <td class="border p-3">DPO</td> <td class="border p-3">Data Protection Officer, also known as Privacy Manager under PIPEDA</td> </tr> <tr> <td class="border p-3">GDPR</td> <td class="border p-3">General Data Protection Regulation is a law that protects the
				privacy and data of people in the EU and the EEA, and applies to any
				organization that deals with their data.</td> </tr> <tr> <td class="border p-3">Personal Data</td> <td class="border p-3">Personal Data means any information relating to an identified or
				identifiable natural person (‘Data Subject’), which information is
				subject to the GDPR or the laws of non-EU EEA countries that have
				formally adopted the GDPR; an identifiable natural person is one who
				can be identified, directly or indirectly, in particular by
				reference to an identifier such as a name, an identification number,
				location data, an online identifier or to one or more factors
				specific to the physical, physiological, genetic, mental, economic,
				cultural or social identity of that natural person.</td> </tr> <tr> <td class="border p-3">PIPEDA</td> <td class="border p-3">The Personal Information Protection and Electronic Documents Act
				(PIPEDA) is the federal privacy law for private-sector organizations
				in Canada. It sets out the ground rules for how businesses must
				handle personal information during their commercial activity.</td> </tr> </tbody> 
			</table>
		</div>

		
	</div>
	<Footer />
</Layout>

<style>
	.title {
		margin-top: 2rem;
	}
	
</style>


