---
export interface Props {
  name: string;
  imageSrc?: string;
  description: string[];
  location: string;
}

const { name, imageSrc, description, location } = Astro.props;
---

<div class="bg-white shadow-md rounded-md p-2 md:p-10 md:m-1 w-[12rem] md:w-full flex flex-col items-start min-h-[18rem]">
  {imageSrc && <img src={imageSrc} alt="Icon" class="h-[2rem] md:h-[3rem] 3xl:h-[5rem] mb-3" />}
  <h2 class="text-[0.6rem] 3xl:text-3xl md:text-xl font-semibold">{name}</h2>
  <div class="flex-grow flex flex-col">
    {Array.isArray(description) && description.map((desc) => (
      <p class="text-[0.6rem] 3xl:text-3xl md:text-sm leading-tight">{desc}</p>
    ))}
  </div>
  <p class="text-[0.6rem] 3xl:text-3xl md:text-lg font-bold">{location}</p>
</div>

