---
export interface Props {
  name: string;
  imageSrc?: string;
  description: string[];
  location: string;
}

const { name, imageSrc, description, location } = Astro.props;
---

<div class="bg-white shadow-md rounded-md p-3 md:p-6 lg:p-8 w-full flex flex-col items-start h-full lg:min-h-[18rem]">
  {imageSrc && <img src={imageSrc} alt="Icon" class="h-[2.5rem] md:h-[3.5rem] lg:h-[4rem] mb-2 md:mb-3" />}
  <h2 class="text-[0.75rem] md:text-lg lg:text-xl font-semibold">{name}</h2>
  <div class="flex-grow flex flex-col space-y-1">
    {Array.isArray(description) && description.map((desc) => (
      <p class="text-[0.7rem] md:text-sm lg:text-base leading-snug">{desc}</p>
    ))}
  </div>
  <p class="text-[0.75rem] md:text-lg lg:text-xl font-bold mt-auto">{location}</p>
</div>


